.header{
	text-align: center;
	font-size: 50px;
	background-color: crimson;
	min-height: 25px;
	min-width: 25px;

}

.container{
	overflow: hidden;
	border: 5px solid brown;
}

.blog{
	float: left;
	border: 1px solid beige;
	width: 65%;
	font-size: 43px;
	background-color: rgba(255, 0, 0, 0.3);
	min-height: 100px;
}
.about{
	float: right;
	border: 5px solid green;
	width: 25%;
	font-size: 50px;
	background-color: aqua;
	min-height: 100px;
}
.footer{
	font-size: 35px;
	background-color: yellow;

}
#subscribe{
}